<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medicine.mapper.MedicinestorageMapper">
    
    <resultMap type="Medicinestorage" id="MedicinestorageResult">
        <result property="id"    column="id"    />
        <result property="medicineId"    column="medicine_id"    />
        <result property="storageEnvId"    column="storage_env_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMedicinestorageVo">
        select id, medicine_id, storage_env_id, create_time, update_time from medicinestorage
    </sql>

    <select id="selectMedicinestorageList" parameterType="Medicinestorage" resultMap="MedicinestorageResult">
        <include refid="selectMedicinestorageVo"/>
        <where>  
            <if test="medicineId != null "> and medicine_id = #{medicineId}</if>
            <if test="storageEnvId != null "> and storage_env_id = #{storageEnvId}</if>
        </where>
    </select>
    
    <select id="selectMedicinestorageById" parameterType="Long" resultMap="MedicinestorageResult">
        <include refid="selectMedicinestorageVo"/>
        where id = #{id}
    </select>

    <insert id="insertMedicinestorage" parameterType="Medicinestorage" useGeneratedKeys="true" keyProperty="id">
        insert into medicinestorage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="medicineId != null">medicine_id,</if>
            <if test="storageEnvId != null">storage_env_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="medicineId != null">#{medicineId},</if>
            <if test="storageEnvId != null">#{storageEnvId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMedicinestorage" parameterType="Medicinestorage">
        update medicinestorage
        <trim prefix="SET" suffixOverrides=",">
            <if test="medicineId != null">medicine_id = #{medicineId},</if>
            <if test="storageEnvId != null">storage_env_id = #{storageEnvId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMedicinestorageById" parameterType="Long">
        delete from medicinestorage where medicine_id = #{id}
    </delete>

    <delete id="deleteMedicinestorageByIds" parameterType="String">
        delete from medicinestorage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteMedicinestorageByMedIds" parameterType="String">
        delete from medicinestorage where medicine_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>