<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medicine.mapper.MedicineBatchMapper">
    
    <resultMap type="MedicineBatch" id="MedicineBatchResult">
        <result property="id"    column="id"    />
        <result property="medicineId"    column="medicine_id"    />
        <result property="batchId"    column="batch_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectMedicineBatchVo">
        select id, medicine_id, batch_id, create_time, update_time from medicine_batch
    </sql>

    <select id="selectMedicineBatchList" parameterType="MedicineBatch" resultMap="MedicineBatchResult">
        <include refid="selectMedicineBatchVo"/>
        <where>  
            <if test="medicineId != null "> and medicine_id = #{medicineId}</if>
            <if test="batchId != null "> and batch_id = #{batchId}</if>
        </where>
    </select>
    
    <select id="selectMedicineBatchById" parameterType="Long" resultMap="MedicineBatchResult">
        <include refid="selectMedicineBatchVo"/>
        where id = #{id}
    </select>

    <insert id="insertMedicineBatch" parameterType="MedicineBatch" useGeneratedKeys="true" keyProperty="id">
        insert into medicine_batch
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="medicineId != null">medicine_id,</if>
            <if test="batchId != null">batch_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="medicineId != null">#{medicineId},</if>
            <if test="batchId != null">#{batchId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMedicineBatch" parameterType="MedicineBatch">
        update medicine_batch
        <trim prefix="SET" suffixOverrides=",">
            <if test="medicineId != null">medicine_id = #{medicineId},</if>
            <if test="batchId != null">batch_id = #{batchId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMedicineBatchById" parameterType="Long">
        delete from medicine_batch where id = #{id}
    </delete>

    <delete id="deleteMedicineBatchByIds" parameterType="String">
        delete from medicine_batch where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>