<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medicine.mapper.StockThresholdMapper">
    
    <resultMap type="StockThreshold" id="StockThresholdResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="threshold"    column="threshold"    />
    </resultMap>

    <sql id="selectStockThresholdVo">
        select id, name, threshold from stock_threshold
    </sql>

    <select id="selectStockThresholdList" parameterType="StockThreshold" resultMap="StockThresholdResult">
        <include refid="selectStockThresholdVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="threshold != null "> and threshold = #{threshold}</if>
        </where>
    </select>
    <select id="queryAll" resultMap="StockThresholdResult">
        select
            id, name, threshold
        from stock_threshold
    </select>
    
    <select id="selectStockThresholdById" parameterType="Long" resultMap="StockThresholdResult">
        <include refid="selectStockThresholdVo"/>
        where id = #{id}
    </select>

    <insert id="insertStockThreshold" parameterType="StockThreshold" useGeneratedKeys="true" keyProperty="id">
        insert into stock_threshold
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="threshold != null">threshold,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="threshold != null">#{threshold},</if>
         </trim>
    </insert>

    <update id="updateStockThreshold" parameterType="StockThreshold">
        update stock_threshold
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="threshold != null">threshold = #{threshold},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStockThresholdById" parameterType="Long">
        delete from stock_threshold where id = #{id}
    </delete>

    <delete id="deleteStockThresholdByIds" parameterType="String">
        delete from stock_threshold where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>