<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.medicine.mapper.StorageEnvironmentMapper">
    
    <resultMap type="StorageEnvironment" id="StorageEnvironmentResult">
        <result property="id"    column="id"    />
        <result property="location"    column="location"    />
        <result property="temperature"    column="temperature"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectStorageEnvironmentVo">
        select id, location, temperature, create_time, update_time from storageenvironment
    </sql>

    <select id="selectStorageEnvironmentList" parameterType="StorageEnvironment" resultMap="StorageEnvironmentResult">
        <include refid="selectStorageEnvironmentVo"/>
        <where>  
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="temperature != null  and temperature != ''"> and temperature = #{temperature}</if>
        </where>
    </select>
    
    <select id="selectStorageEnvironmentById" parameterType="Long" resultMap="StorageEnvironmentResult">
        <include refid="selectStorageEnvironmentVo"/>
        where id = #{id}
    </select>

    <select id="selectStorageEnvironmentId" resultType="java.lang.Long">
        select id from storageenvironment
        <where>
            location = #{location}
        </where>
    </select>

    <insert id="insertStorageEnvironment" parameterType="StorageEnvironment" useGeneratedKeys="true" keyProperty="id">
        insert into storageenvironment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="location != null and location != ''">location,</if>
            <if test="temperature != null and temperature != ''">temperature,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="location != null and location != ''">#{location},</if>
            <if test="temperature != null and temperature != ''">#{temperature},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateStorageEnvironment" parameterType="StorageEnvironment">
        update storageenvironment
        <trim prefix="SET" suffixOverrides=",">
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="temperature != null and temperature != ''">temperature = #{temperature},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteStorageEnvironmentById" parameterType="Long">
        delete from storageenvironment where id = #{id}
    </delete>

    <delete id="deleteStorageEnvironmentByIds" parameterType="String">
        delete from storageenvironment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>